<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener Microservice</title>
    <meta name="description" content="An API that responds to URL queries with a JSON object containing a rerouted URL.">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        URL Shortener Microservice
      </h1>
    </header>

    <main>
      <p>
        <div>
          Example query: <br/>
        <code>https://znb-urlshortener-microservice.herokuapp.com/new/http://google.com</code><br/>

        </div>
        <br/>
        <div>
          Example output: <br/>
        <code>{ "original": "http://google.com", "shortened": "https://znb-urlshortener-microservice.herokuapp.com/1000" }</code>
        </div>

      </p>

    </main>


  </body>
</html>
